-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3.  See
-#   the COPYRIGHT file.


!!!
%html
  %head
    %title
      = "#{SITE_CONFIG[:name]} | login"
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}/
    = stylesheet_link_tag "sessions"
    = csrf_meta_tag
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
    :javascript
      $(document).ready(function(){
        $("#user_username").focus(); 
      });
    = yield(:head)

  %body
    = yield